seccion 4/Pokemon Google Sheet_DevTalles.json
{
  "name": "Pokemon Google Sheet copy 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        112
      ],
      "id": "06083dde-184e-40df-9372-03d0d4c08fca",
      "name": "Click"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wYnnWjlNb8AHA9s05CKkJnjxmwhDhApFZzN_5u7D4pI",
          "mode": "list",
          "cachedResultName": "Pokemon tabla de informacion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYnnWjlNb8AHA9s05CKkJnjxmwhDhApFZzN_5u7D4pI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYnnWjlNb8AHA9s05CKkJnjxmwhDhApFZzN_5u7D4pI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        112
      ],
      "id": "34d86603-8b7f-4b0d-a4e8-9e4a0956f24f",
      "name": "Obtener ids de Pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LEzRIKdtoQtEBSHC",
          "name": "Google Sheet - CHP@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "=  https://pokeapi.co/api/v2/pokemon/{{ $('Obtener ids de Pokemons').item.json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        112
      ],
      "id": "cb71f9f0-7e72-4e40-92de-d67f1ac4e186",
      "name": "Obtener información pokemon"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c21421ca-c4fb-4b94-8dfe-f506480cb200",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "397c5e7d-2d22-447c-90b6-785400fab64b",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "4b889f2e-97f0-4273-bcf3-d5261af9bd07",
              "name": "type",
              "value": "={{ $json.types[0].type.name }}",
              "type": "string"
            },
            {
              "id": "46d23461-2e8c-431b-ab59-70036e789533",
              "name": "photos.front",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            },
            {
              "id": "5f28249b-fb55-4314-8994-f29463cd00be",
              "name": "photos.back",
              "value": "={{ $json.sprites.back_default }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        112
      ],
      "id": "906f54ce-6a98-4cb1-83cd-966a3211b203",
      "name": "Extraer datos del pokémon"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wYnnWjlNb8AHA9s05CKkJnjxmwhDhApFZzN_5u7D4pI",
          "mode": "list",
          "cachedResultName": "Pokemon tabla de informacion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYnnWjlNb8AHA9s05CKkJnjxmwhDhApFZzN_5u7D4pI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYnnWjlNb8AHA9s05CKkJnjxmwhDhApFZzN_5u7D4pI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Nombre": "={{ $json.name }}",
            "Tipo": "={{ $json.type }}",
            "Sprite Frontal": "={{ $json.photos.front }}",
            "Sprite Posterior": "={{ $json.photos.back }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Frontal",
              "displayName": "Sprite Frontal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Posterior",
              "displayName": "Sprite Posterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        112
      ],
      "id": "04fb8f71-e148-4c07-8b20-0c5a9aebd788",
      "name": "Actualizar información de Pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LEzRIKdtoQtEBSHC",
          "name": "Google Sheet - CHP@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Sheet\nObtener IDS de los Pokémons",
        "height": 240,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        32
      ],
      "typeVersion": 1,
      "id": "98882963-0c77-4751-9e31-973d945350b3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9cf8806b-b433-4d5f-9d01-29163f2e31b7",
              "leftValue": "={{ $json.Nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "f3e41c07-16bb-4c26-998c-3a8c64c21083",
              "leftValue": "={{ $json.Tipo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -704,
        112
      ],
      "id": "8494ca81-2722-4222-af08-8a208139d22a",
      "name": "Filtrar pokemons a buscar"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nGuardar información en el documento",
        "height": 320,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1af116c1-c1d5-4ae6-be7f-0e46be60966d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Filtro\nÚnicamente pasan los que no tienen nombre y tipo",
        "height": 240,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        32
      ],
      "id": "d09d180e-f8b5-4242-b201-40bde8b3a51b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## HTTP\nTraer información de los pokemons",
        "height": 272,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        16
      ],
      "id": "2d64fefd-3583-424b-91c8-ba27752e1f5b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "chistespiolas@gmail.com",
        "subject": "El proceso de migración terminó",
        "message": "=<h1>El proceso de actualización automática ha finalizado</h1>\n\n<p>Hay nuevos Pokémon disponibles:</p>\n\n<ul>\n  <li>\n    {{ $json.ID }}: {{ $json.Nombre }}<br>\n    Tipo: {{ $json.Tipo }}<br>\n    <img src=\"{{ $json['Sprite Frontal'] }}\" alt=\"Sprite frontal\" style=\"max-width:100px; height:auto;\">\n    <img src=\"{{ $json['Sprite Posterior'] }}\" alt=\"Sprite posterior\" style=\"max-width:100px; height:auto;\">\n  </li>\n</ul>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        112
      ],
      "id": "bbfa1684-4288-489f-bdd5-0a6cc5235059",
      "name": "Enviar correo de resultado del proceso",
      "webhookId": "2d2a5cf6-97fa-4beb-aace-5e4cb3b885a7",
      "credentials": {
        "gmailOAuth2": {
          "id": "djLrGzXQCY7jjSP4",
          "name": "Gmail - CHP@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Nombre"
            },
            {
              "fieldToAggregate": "ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "5ae78b15-efaa-49e2-96c9-4a7e2c485a88",
      "name": "Agrupar resultados"
    },
    {
      "parameters": {
        "content": "## Agupar\nDatos de salida",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        16
      ],
      "id": "12c8a244-9e8e-41d5-b813-4eb37842b5f2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Enviar correo\nCon el resumen del proceso",
        "height": 288,
        "width": 358,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        16
      ],
      "id": "8ed30613-4ff4-489b-a260-7f55b3cefa22",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Click": {
      "main": [
        [
          {
            "node": "Obtener ids de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ids de Pokemons": {
      "main": [
        [
          {
            "node": "Filtrar pokemons a buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener información pokemon": {
      "main": [
        [
          {
            "node": "Extraer datos del pokémon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos del pokémon": {
      "main": [
        [
          {
            "node": "Actualizar información de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar pokemons a buscar": {
      "main": [
        [
          {
            "node": "Obtener información pokemon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar información de Pokemons": {
      "main": [
        [
          {
            "node": "Agrupar resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar resultados": {
      "main": [
        [
          {
            "node": "Enviar correo de resultado del proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97b0f2a2-b260-4fd0-8d51-f6e83e4addb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2551d68775eb9557c6f646452fa2d1c7f8f444ea9b813e1f43b361845cee71e1"
  },
  "id": "gexcQ1pgxkLVbFup",
  "tags": [
    {
      "createdAt": "2025-09-25T20:09:11.766Z",
      "updatedAt": "2025-09-25T20:09:11.766Z",
      "id": "ql4KQKZISLdeZJ2w",
      "name": "primer workflow"
    },
    {
      "createdAt": "2025-09-25T16:10:34.091Z",
      "updatedAt": "2025-09-25T16:11:31.797Z",
      "id": "wey3mtGdwacHrluv",
      "name": "pokemons"
    }
  ]
}